@font-face {
    font-family: 'xband-ro';
    src: url("../media/xband-ro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #3C393C;
    color: #FFFFFF;
    font-family: 'xband-ro', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 100px;
}

h1 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    z-index: 10;
    text-align: center;
}

#feeds {
    margin-top: 20px;
    z-index: 5;
    display: flex;
    gap: 10px;
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #5e5a6d;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7b75a8;
}

#camerafeed {
    margin: 30px auto;
    aspect-ratio: 16 / 9;
    border: 5px solid blueviolet;
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.4);
}

#feed_frame {
  width: 25vw;      
  height: 25vh;    
  overflow: hidden; 
  resize: none;     
}

#question {
    display: none;
    margin-top: 30px;
    text-align: center;
}

#question_text {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
